body {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;

}
/*give background color to header and footer*/

header, footer {
    background-color: rgb(123, 123, 176);
}
/* dot means adding class */
.site-title{
    color:rgb(150, 66, 83);
}
/*# means adding id*/
#my-image{
    box-shadow: 0px 0px 2px 1px black;  
}
/* dot means adding class */
.list{
    list-style-type: square
}
/* Selects the first li element in a list */
li:nth-child(1) {
    background: rgb(47, 184, 47);
  }
/* Selects the third li element in a list */
li:nth-child(3) {
    background: rgb(47, 184, 47);
  }
/* Remove Bullets in the list*/
.list{
    list-style-type: none;
}
.underline{
    text-decoration: none;
}
.underline{
    background-color: lightgreen;
}
.underline{
    border-style: solid;
    border-color: 5px red;
}
.underline:hover{
    background-color: rgb(255, 2, 61);
}