body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #AAD4CF;
}
/* header part edit */
header {
    position:relative;
    width: 100%;
    top:0;
    left:0;
    height: 350px;
    padding: 20px;
    margin: auto;
    box-sizing: border-box;
}   
/* header image edits */
.image2{
    
    position: relative;
    height: 350px;
    width: 1250px;
    border: 1px solid black;
    margin: auto;
    box-sizing: border-box;
}

/* wrapper class edit */
.wrapper {
    background-color: #D4E9E7;
    width: 1250px;
    margin: auto;
    padding: 20px;
}
/* paragraph font size added */
p{
    font-size: 18pt
}
/* list font size added */
ul{
    font-size: 18pt;
}
/* h1 edit done*/
h1 {
    position: absolute;
    top:30%;
    text-align: center;
    width: 100%;
    z-index: 1;
    color: white;
    font-size: 75px;
}
/* list edit 1*/
nav li{
    display: inline-block;
    width: 32%;
    text-align: center;
    color: black;
    border-right: 1px solid black;
    font-weight: bold;
}
/* list edit 2 */
nav li{
    list-style-type: none;
    padding-left: 0;
    text-decoration-line: none;
}
/* list edit 3 */
nav li:last-child{
    border-right: none;
}
/* h2 edit done */
h2{
    font-size: 35px;
}
/* h3 edit done */
h3{
    font-size: 30px;
}
a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 12px;
    font-size: 25px;

}
.image{
    float: left;
    margin-right: 5%;
    max-width: 50%;
    height: 50%;
}

p.clear{
    clear: left;
}


a:hover {
    background-color: #AAD4CF;
    color: white;
    transition: background-color 0.5s, color 0.5s;
}


footer {
    text-align: right;
}

.form {
    border: 2px solid black;
    margin: 1%;
    padding: 2%;
    font-size: 16pt;
}
.form :nth-child(3){
    width: 100%;
}

#email{
    width: 100%;
}

#message{
    width: 100%;
    height: 250px;
}

.form{
    clear: both;
}

