body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #AAD4CF;
}
h1 {
    position: absolute;
    top:30%;
    text-align: center;
    width: 100%;
    z-index: 1;
    color: white;
}
header .image1 {
    width: 200%;
    height: 200%;
    object-fit: cover;;
}

header {
    position: relative;
    max-width: 500px;
    margin: auto;
    
}

.wrapper {
    background-color: #D4E9E7;
    width: 75%;
    margin: auto;
}
nav li{
    display: inline-block;
    width: 32%;
    text-align: center;
}
nav ul{
    list-style-type: none;
    padding-left: 0;
    text-decoration-line: none;
}

